<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="http://www.springframework.org/schema/rabbit
	http://www.springframework.org/schema/rabbit/spring-rabbit-1.4.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<rabbit:connection-factory id="connectionFactory" 
	host="${rabbit.host}" port="${rabbit.port}"
	username="${rabbit.username}" password="${rabbit.password}"
	virtual-host="${rabbit.vhost}"/>
	
	<rabbit:admin connection-factory="connectionFactory"/>
	
	<rabbit:direct-exchange name="xxmall_manege_item_exchange" auto-declare="true" durable="true"/>
	
	<rabbit:template id="itemTemplate" exchange="xxmall_manege_item_exchange" 
	connection-factory="connectionFactory"/>

</beans>